/* GLOBAL */
body {
	background: url("../img/bg.png");
	font-family: 'Open Sans', sans-serif;
	min-width: 420px;
}

/* LAYOUT */

#gototop{
	font-family: 'Open Sans', sans-serif;
	color: black;
}

footer a{
	font-family: 'Open Sans', sans-serif;
	color: black;
}

nav ul, nav a{
	list-style-type: none;
	text-decoration: none;
	color: white;
	background: #212121;	
	margin: 0;
	padding: 1%;
	text-align: center;
	font-size: 110%;
}

nav ul li{
	display: inline;
}

a:hover{
	text-decoration: underline;
}

.container {
	width: 80%;
	margin: 0 auto;
	background: lightblue;
}


article section img{
	margin-left: 5%;
}

h1{
		text-decoration: underline;
}

p, h1{
	width: 80%;
	text-align: center;
}

h3{
	padding-left: 5%;
	text-decoration: underline;

}

#top{
	width: 20%;
}

article{
	margin-left: 10%;
}

#video iframe{
	margin: 0 auto;
    display: block;
    width: 700px;
    top: 50%;  
}

#video{
	max-width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #212121;
	transition: all 1s ease;
}


img {
	width: 70%;
}


iframe{
	transition: all 1s ease;
}





/* DESKTOP */
@media (min-width: 960px){

article section {
	float: left;
}

article section{
	width: 50%;
}

.typeform-widget{
	padding-left: 2.5%;
	min-width: 95%;
}

#video iframe:hover{
	width: 750px;
	height: 500px;
	transition: all 1s ease;
}

}





/*TABLET*/
@media (max-width: 960px){

img{
	width: 40%;
	padding-left: 12.5%;
	margin: 0 auto;
}

iframe{
	margin-left: 15%;
	width: 70%;
	max-width: 75%;
}

#video{
	padding-top: 10px;
	padding-bottom: 10px;
	background: #212121;
	transition: all 1s ease;
}

#top{
	margin-left: 18%;
	width: 40%;
}

}
